<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.ld.ResourceMapper">
	<select id="FindResourceByUserId" parameterType="Int" resultType="com.ld.entity.Resource">
		select r.re_id as id,r.re_name as name,r.re_type as type,r.re_url as url,r.re_parentId as parentId, r.re_parentIds as parentIds,r.re_permission as permission
		from user_role ur INNER JOIN role_resource rr
		on ur.r_id = rr.r_id
		INNER JOIN resource r
		on r.re_id = rr.re_id
		where ur.u_id = #{id}
	</select>
</mapper>